doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/vendor/normalize.css/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    style
        #video {
            display: none;
        }
        #display {
            position: relative;
        }
        #display > canvas {
            position: absolute;
            top:    0;
            left:   0;        
        }
    script(src='/vendor/Modernizr/modernizr.js')
    script
        Modernizr.addTest('retina', function () {
            return (window.devicePixelRatio == 2);
        });
    script(src='/vendor/processing-js/processing.js')
    script(src='/vendor/Seriously.js/seriously.js')
    script(src='/vendor/Seriously.js/effects/seriously.vignette.js')
    script(src='/vendor/Seriously.js/effects/seriously.hue-saturation.js')
    script(src='/vendor/Seriously.js/effects/seriously.split.js')
    script(src='/vendor/Seriously.js/effects/seriously.nightvision.js')
    script(src='/socket.io/socket.io.js')

  body
    block content
    script
        var socket = io.connect('http://localhost:3000');
        socket.on('news', function (data) {
            if (typeof knob != 'undefined') {
                knob(data);
            }
            console.log(data);
            //socket.emit('my other event', { my: 'data' });
        });
    
